/* CSS RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Linkando fontes */
/* Linkando fontes */
@font-face {
    font-family: 'Circular';
    src: url(/assets/fonts/CircularStd-Black.otf);
    src: url(/assets/fonts/CircularStd-Bold.otf);
    src: url(/assets/fonts/CircularStd-Book.otf);
    src: url(/assets/fonts/CircularStd-Light.otf);
    src: url(/assets/fonts/CircularStd-Medium.otf);
}

/* Animation para a logo */
.logo-rotate {
    animation: rotation 10s infinite linear;
    filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
}
@keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}

body {
    background-color: #191414;
    font-family: 'Circular';
    /* color: white; */
}

main {
    margin: 0 10px;
}

#spotify {
    max-width: 40%;
    margin: auto;
}

.main-section {
    margin: 70px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.main-section img {
    width: 500px;
    filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
}

.form-div {
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 10px 24px -6px rgba(0,0,0,0.9);
    background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(25,20,20,1) 45%);
}

.form-div h2 {
    text-align: center;
}

.section-login {
    display: flex;
    flex-direction: column;
}

.section-buttons {
    display: none;
}

.form-div button {
    width: 180px;
    border: none;
    background-color: #1db954;
    color: white;
    font-weight: 700;
    border-radius: 15px;
    padding: 10px 35px;
    margin: 20px auto 0 auto;
    box-shadow: 0px 0px 10px 0px #000000;
    transition: .5s;
}

.section-buttons button:nth-child(2) {
    display: none;
}

.form-div button:hover {
    background-color: #00e650;
}


.section-sobre {
    margin-bottom: 85px;
    font-size: 45px;
    color: white;
    text-align: center;
    font-weight: bold;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

footer a {
    text-decoration: none;
    color: #b12625;
}

/* Classes manipuladas por JS */
.esconde-div {
    display: none;
}

/* Media Queries */
@media screen and (max-width: 1200px) {
    .main-section {
        flex-direction: column;
        margin: auto;
    }
    .main-section img {
        width: 300px;
        margin: 30px 0;
    }

    .form-div {
        margin: 20px 0;
    }
}