/* CSS RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Linkando fontes */
@font-face {
    font-family: 'Circular';
    src: url(/assets/fonts/CircularStd-Black.otf);
    src: url(/assets/fonts/CircularStd-Bold.otf);
    src: url(/assets/fonts/CircularStd-Book.otf);
    src: url(/assets/fonts/CircularStd-Light.otf);
    src: url(/assets/fonts/CircularStd-Medium.otf);
}

body {
    font-family: 'Circular';
}

.mode-section {
    margin: 10px;
    justify-content: flex-end;
    display: flex;
    height: 50px;
}

/* Classe para manipular via JS */
.dark-mode {
    background-color: #191414;
    color: white;
}
/* ---------------------------- */

/* Regras para a secao de informacoes do perfil*/
.container-pic {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    height: 50vh;
    position: relative;
    z-index: -10;
}

.container-pic div {
    background-color: black;
    width: 13%;
    height: 13%;
}

.container-pic div img {
    border-radius: 0px;
    height: 100%;
    width: 100%;
}

.picture-section {
    position: absolute;
}

.foto-perfil {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#nome-display {
    margin: 15px 0;
    letter-spacing: -1px;
    font-size: 35px;
    font-weight: 900;
}

#numero-playlists, #seguidores {
    font-weight: 600;
}

.foto-perfil img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

iframe {
    border-radius: 15px;
    padding: 5px;
}

img {
    filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
}

.icons-perfil {
    display: flex;
    justify-content: center;
    width: 100%;
}

.icons-perfil div img {
    max-width: 100%;
    padding: 25px;
}

h3 {
    margin: 15px 0;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
}

.sobre-perfil {
    padding: 10px;
}
/* ------------------------------ */

/* Regras para secao de musicas */
.selection-section {
    display: flex;
    justify-content: center;
}

.btn {
    color: white;
    background-color: #1db954;
    border: 2px solid black;
}

.title-tracks {
    display: flex;
    flex-direction: column;
}

.title-tracks img {
    width: 25%;
    margin: auto;
}

.title-tracks h5 {
    text-align: center;
}

.list-tracks, .list-artists {
    display: flex;
}

.section-top h2 {
    text-align: center;
}

.tracks-section img {
    border-radius: 15px;
    max-width: 100%;
    padding: 7px;
}

.tracks-section div figure {
    text-align: center;
}

/* Media Queries */
@media screen and (min-width: 600px) {
    main {
        max-width: 700px;
        margin: auto;
    }
}

@media screen and (min-width: 1100px) {
    main {
        max-width: 90%;
    }

    .icons-perfil div img {
        max-width: 120px;
    }

    .title-tracks img {
        max-width: 180px;
        margin: auto;
    }

    .section-top {
        width: 85%;
        margin: auto;
    }

    .section-top figure {
        width: 30%;
    }

    .section-top div {
        justify-content: space-evenly;
    }

    .section-top img {
        max-width: 235px;
    }

    .foto-perfil {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
    }

    .foto-perfil div {
        margin-top: 40px;
    }

    .bloco-sobre {
        display: flex;
        justify-content: center;
    }

    .bloco-info {
        display: flex;
        flex-direction: column;
        width: 45%;
    }

    .escutando-agora {
        width: 45%;
        padding-top: 20px;
        text-align: center;
    }

}

