@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap');

/* CSS RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Linkando fontes */
@font-face {
    font-family: 'Circular';
    src: url(/assets/fonts/CircularStd-Black.otf);
    src: url(/assets/fonts/CircularStd-Bold.otf);
    src: url(/assets/fonts/CircularStd-Book.otf);
    src: url(/assets/fonts/CircularStd-Light.otf);
    src: url(/assets/fonts/CircularStd-Medium.otf);
}

.logo-rotate {
    animation: rotation 10s infinite linear;
    filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
}
@keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}

body {
    font-family: 'Poppins', sans-serif;
}

.mode-section {
    margin: 10px;
    justify-content: flex-end;
    display: flex;
    height: 50px;
}

/* Classe para manipular via JS */
.dark-mode {
    background-color: #191414;
    color: white;
}
/* ---------------------------- */
nav {
    background-color: #124584;
}

nav li a {
    font-size: 20px;
    font-weight: 600;
}
/* Regras para a secao de informacoes do perfil*/
#nome-display {
    margin: 15px 0;
    letter-spacing: -1px;
    font-size: 35px;
    font-weight: 900;
    text-align: center;
}

#numero-playlists, #seguidores {
    font-weight: 600;
}

.picture-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foto-perfil img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

iframe {
    border-radius: 15px;
    padding: 5px;
}

img {
    filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
}

.icons-perfil {
    display: flex;
    justify-content: center;
    width: 100%;
}

.icons-perfil div img {
    max-width: 100%;
    padding: 25px;
}

h3 {
    margin: 15px 0;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
}

.sobre-perfil {
    padding: 10px;
}
/* ------------------------------ */

/* Regras para secao de musicas */
.music-name, .artist-top-name {
    font-weight: 600;
    font-size: 20px;
}

.artist-name {
    font-size: 15px;
}

.selection-section {
    display: flex;
    justify-content: center;
}

.btn {
    color: white;
    background-color: #1db954;
    border: .5px solid black;
    border-radius: 20px;
}

.title-tracks {
    display: flex;
    flex-direction: column;
}

.title-tracks img {
    width: 25%;
    margin: auto;
}

.title-tracks h5 {
    text-align: center;
}

.list-tracks, .list-artists {
    display: flex;
}

.section-top h2 {
    text-align: center;
}

.tracks-section img {
    border-radius: 15px;
    max-width: 100%;
    padding: 7px;
}

.tracks-section div figure {
    text-align: center;
}

.btn-create-playlist {
    color: white;
    font-weight: 600;
    font-size: 20px;
    background-color: #1db954;
    border: .5px solid black;
    width: 190px;
    padding: 5px 10px;
    border-radius: 15px;
    margin: 15px auto;
}

aside {
    display: none;
}

/* Media Queries */
@media screen and (min-width: 600px) {
    main {
        max-width: 700px;
        margin: auto;
    }
}

@media screen and (min-width: 1100px) {
    nav img {
        height: 55px;
    }

    main {
        max-width: 100%;
        display: flex;
        justify-content: space-between;
    }

    article {
        width: 70%;
    }

    aside {
        background-color: #12458498;
        display: block;
        display: flex;
        flex-direction: column;
        width: 15%;
    }

    aside img {
        opacity: 0.5;
        flex-grow: 1;
    }

    .picture-section {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .title-tracks img {
        max-width: 180px;
        margin: auto;
    }

    .section-top {
        width: 85%;
        margin: auto;
    }

    .section-top figure {
        width: 30%;
    }

    .section-top div {
        justify-content: space-evenly;
    }

    .section-top img {
        max-width: 235px;
    }

    .foto-perfil {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
    }

    .foto-perfil div {
        margin-top: 40px;
    }

    .bloco-sobre {
        display: flex;
        justify-content: space-between;
    }

    .bloco-info {
        display: flex;
        flex-direction: column;
        width: 45%;
    }

    .escutando-agora {
        width: 45%;
        padding-top: 20px;
        text-align: center;
    }

}

