/* CSS RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Linkando fontes */
@font-face {
    font-family: Spotify;
    src: url(/assets/fonts/GothamBook.ttf);
    src: url(/assets/fonts/Gotham-Black.otf);
    font-weight: normal;
}

/* Animation para a logo */
#loading {
    animation: rotation 10s infinite linear;
}
@keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}

body {
    background-color: #535353;
    font-family: Spotify;
    color: white;
}

main {
    margin: 0 10px;
}

.main-section {
    margin: 70px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.main-section img {
    width: 500px;
}

.form-div, .form-register {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 10px 24px -6px rgba(0,0,0,0.9);
}

.form-div input {
    padding: 10px 70px;
}

.btn-register {
    background-color: #b12625 !important;
}
.form-div button {
    border: none;
    background-color: #1db954;
    color: white;
    font-weight: 700;
    border-radius: 15px;
    padding: 5px 35px;
    text-align: center;
}


.section-sobre {
    margin-bottom: 85px;
    font-size: 45px;
    color: white;
    text-align: center;
    font-weight: bold;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

footer a {
    text-decoration: none;
    color: #b12625;
}

/* Regras para pagina Profile */
.foto-perfil {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.foto-perfil img {
    border-radius: 15px;
    width: 160px;
    height: 200px;
    margin: 20px auto;
}

.icons-perfil {
    display: flex;
    justify-content: center;
    width: 100%;
}

.icons-perfil div img {
    max-width: 100%;
    padding: 25px;
    filter: drop-shadow(5px 5px 5px #222);
}

.sobre-perfil {
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

.title-tracks {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: auto;
}

.title-tracks h3 {
    font-size: 20px;
    text-align: center;
}

.tracks div {
    display: flex;
}

.tracks img {
    border-radius: 15px;
    max-width: 100%;
    padding: 7px;
    filter: drop-shadow(5px 5px 5px #222);
}

.tracks div figure {
    text-align: center;
}
/* --------------------------- */

/* Classes manipuladas por JS */
.esconde-div {
    display: none;
}

/* Media Queries */
@media screen and (max-width: 1200px) {
    .main-section {
        flex-direction: column;
        margin: auto;
    }
    .main-section img {
        width: 300px;
        margin: 30px 0;
    }

    .form-div {
        margin: 20px 0;
    }
}